DeliverySystemClient/src/META-INF/wsdl/localhost_4392/ServicioClientes.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ClientesADD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdC" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DirC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailC" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoC" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesADDResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClientesSHOW">
        <s:complexType />
      </s:element>
      <s:element name="ClientesSHOWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientesSHOWResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesSEARCH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesSEARCHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientesSEARCHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesEDIT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesEDITResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientesEDITResult" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TipoCliente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClientesTYPESEARCH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesTYPESEARCHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientesTYPESEARCHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClientesADDSoapIn">
    <wsdl:part name="parameters" element="tns:ClientesADD" />
  </wsdl:message>
  <wsdl:message name="ClientesADDSoapOut">
    <wsdl:part name="parameters" element="tns:ClientesADDResponse" />
  </wsdl:message>
  <wsdl:message name="ClientesSHOWSoapIn">
    <wsdl:part name="parameters" element="tns:ClientesSHOW" />
  </wsdl:message>
  <wsdl:message name="ClientesSHOWSoapOut">
    <wsdl:part name="parameters" element="tns:ClientesSHOWResponse" />
  </wsdl:message>
  <wsdl:message name="ClientesSEARCHSoapIn">
    <wsdl:part name="parameters" element="tns:ClientesSEARCH" />
  </wsdl:message>
  <wsdl:message name="ClientesSEARCHSoapOut">
    <wsdl:part name="parameters" element="tns:ClientesSEARCHResponse" />
  </wsdl:message>
  <wsdl:message name="ClientesEDITSoapIn">
    <wsdl:part name="parameters" element="tns:ClientesEDIT" />
  </wsdl:message>
  <wsdl:message name="ClientesEDITSoapOut">
    <wsdl:part name="parameters" element="tns:ClientesEDITResponse" />
  </wsdl:message>
  <wsdl:message name="ClientesTYPESEARCHSoapIn">
    <wsdl:part name="parameters" element="tns:ClientesTYPESEARCH" />
  </wsdl:message>
  <wsdl:message name="ClientesTYPESEARCHSoapOut">
    <wsdl:part name="parameters" element="tns:ClientesTYPESEARCHResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioClientesSoap">
    <wsdl:operation name="ClientesADD">
      <wsdl:input message="tns:ClientesADDSoapIn" />
      <wsdl:output message="tns:ClientesADDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientesSHOW">
      <wsdl:input message="tns:ClientesSHOWSoapIn" />
      <wsdl:output message="tns:ClientesSHOWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientesSEARCH">
      <wsdl:input message="tns:ClientesSEARCHSoapIn" />
      <wsdl:output message="tns:ClientesSEARCHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientesEDIT">
      <wsdl:input message="tns:ClientesEDITSoapIn" />
      <wsdl:output message="tns:ClientesEDITSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientesTYPESEARCH">
      <wsdl:input message="tns:ClientesTYPESEARCHSoapIn" />
      <wsdl:output message="tns:ClientesTYPESEARCHSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioClientesSoap" type="tns:ServicioClientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClientesADD">
      <soap:operation soapAction="http://tempuri.org/ClientesADD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesSHOW">
      <soap:operation soapAction="http://tempuri.org/ClientesSHOW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesSEARCH">
      <soap:operation soapAction="http://tempuri.org/ClientesSEARCH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesEDIT">
      <soap:operation soapAction="http://tempuri.org/ClientesEDIT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesTYPESEARCH">
      <soap:operation soapAction="http://tempuri.org/ClientesTYPESEARCH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioClientesSoap12" type="tns:ServicioClientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClientesADD">
      <soap12:operation soapAction="http://tempuri.org/ClientesADD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesSHOW">
      <soap12:operation soapAction="http://tempuri.org/ClientesSHOW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesSEARCH">
      <soap12:operation soapAction="http://tempuri.org/ClientesSEARCH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesEDIT">
      <soap12:operation soapAction="http://tempuri.org/ClientesEDIT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesTYPESEARCH">
      <soap12:operation soapAction="http://tempuri.org/ClientesTYPESEARCH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioClientes">
    <wsdl:port name="ServicioClientesSoap" binding="tns:ServicioClientesSoap">
      <soap:address location="http://localhost:4392/ServicioClientes.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioClientesSoap12" binding="tns:ServicioClientesSoap12">
      <soap12:address location="http://localhost:4392/ServicioClientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>