DeliverySystemClient/src/META-INF/wsdl/localhost_4392/ServicioFacturas.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="addBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="p" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addBillResponse">
        <s:complexType />
      </s:element>
      <s:element name="showBill">
        <s:complexType />
      </s:element>
      <s:element name="showBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="showBillResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addBillSoapIn">
    <wsdl:part name="parameters" element="tns:addBill" />
  </wsdl:message>
  <wsdl:message name="addBillSoapOut">
    <wsdl:part name="parameters" element="tns:addBillResponse" />
  </wsdl:message>
  <wsdl:message name="showBillSoapIn">
    <wsdl:part name="parameters" element="tns:showBill" />
  </wsdl:message>
  <wsdl:message name="showBillSoapOut">
    <wsdl:part name="parameters" element="tns:showBillResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioFacturasSoap">
    <wsdl:operation name="addBill">
      <wsdl:input message="tns:addBillSoapIn" />
      <wsdl:output message="tns:addBillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="showBill">
      <wsdl:input message="tns:showBillSoapIn" />
      <wsdl:output message="tns:showBillSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioFacturasSoap" type="tns:ServicioFacturasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addBill">
      <soap:operation soapAction="http://tempuri.org/addBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showBill">
      <soap:operation soapAction="http://tempuri.org/showBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioFacturasSoap12" type="tns:ServicioFacturasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addBill">
      <soap12:operation soapAction="http://tempuri.org/addBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showBill">
      <soap12:operation soapAction="http://tempuri.org/showBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioFacturas">
    <wsdl:port name="ServicioFacturasSoap" binding="tns:ServicioFacturasSoap">
      <soap:address location="http://localhost:4392/ServicioFacturas.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioFacturasSoap12" binding="tns:ServicioFacturasSoap12">
      <soap12:address location="http://localhost:4392/ServicioFacturas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>